body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}

.input-field {
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 4px;
  margin-right: 10px;
}

.input-field:focus-visible {
  outline: none;
}

.btn {
  background-color: #5f5ff6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn:disabled {
  opacity: 0.3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(150,150,150,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #5f5ff6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.connect-dialog {
  display: none;
  position: fixed;
  max-width: 650px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  z-index: 2;
}

.connect-info {
  margin: 0;
  line-height: 1.6;
}

.connect-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.apiKey-field {
  border: 1px solid #ddd;
}

.chat {
  width: 650px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.message {
  background-color: white;
  padding: 5px 15px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.message-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  width: 650px;
  margin: 0 auto;
  margin-bottom: 20px;
}
  